body {
    background-color: beige;
    text-align: center;
}

h1 {
    color: green;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
}

ul{
    border: 2px solid grey;
    text-align: center;
}

a {
    color: blueviolet;
}